/* styles.css */
body {
  background-image: url("../static/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  height: 100%;
}

.container-button {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-button {
  display: flex;
  margin-top: 20px;
  width: 250px;
  height: 50px;
  padding: 10px 20px;
  border: none;
  background: linear-gradient(45deg, #FF8A00, #FF2B1C);
  color: white;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.menu-button:hover {
  transform: scale(1.1);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.menu-button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: width 0.3s ease;
}

.menu-button:hover::after {
  width: 100%;
}
<<<<<<< HEAD

table {
  border: 2px solid white;
}
th, td {
  border: 1px solid white;
  color: white;
  padding: 5px;
}

h1{
  color: white;
=======
h1{
  color: white;
  font-size: 50px;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
>>>>>>> 4a4e9e9effeecedfe7bedb38ab9c2ed785437e6d
}