{% extends "base.html" %} {%block title%} Sign Up {% endblock%}
{% block style %} 
<style type="text/css">
    form{
        align-items: center;
        display: flex;
        flex-direction: column;
    }
</style>
{%endblock%}
{% block content %}
<h3 align = "center">Add product form</h3>
    <form method="post">
        <div class="form-group">
            <label for= "id_c">Code: </label>
            <input 
            type="id_c"
            name="id_c" 
            id="id_c"
            class="form-control"
            />
        </div>

        <div class="form-group">
            <label for= "Libelle">Libelle : </label>
            <input 
            type="Libelle"
            name="Libelle" 
            id="Libelle"
            class="form-control"
            />
        </div>

        <div class="form-group">
            <label for= "qte">Quantité : </label>
            <input 
            type="qte"
            name="qte" 
            id="qte"
            class="form-control"
            />
        </div>

        <div class="form-group">
            <label for= "pu">Prix Unitaire : </label>
            <input 
            type="pu"
            name="pu" 
            id="pu"
            class="form-control"
            />
        </div>

        <div class="form-group">
            <label for= "matricule">matricule: </label>
            <input 
            type="matricule"
            name="matricule" 
            id="matricule"
            class="form-control"
            />
        </div>


        
        <br />
  <button type="submit" class="btn btn-primary">Ajouter</button>

    </form>
{% endblock %}