{% extends "base.html" %} {%block title%} Sign Up {% endblock%}
{% block style %} 
<style type="text/css">
    form{
        align-items: center;
        display: flex;
        flex-direction: column;
    }
</style>
{%endblock%}
{% block content %}
<h3 align = "center">Add vente form</h3>
    <form method="post">
        <div class="form-group">
            <label for= "CIN">date de la vente </label>
            <input 
            type="date"
            name="date" 
            id="date"
            class="form-control"
            requiered
            />
        </div>

        <div class="form-group">
            <label for= "montant">Montant de la vente : </label>
            <input 
            type="montant"
            name="montant" 
            id="montant"
            class="form-control"
            required
            />
        </div>

        <div class="form-group">
            <label for= "CIN_C">CIN client : </label>
            <select name="cin_client" required>
                {% for client in clients %}
                    <option value="{{ client.CIN_C }}">{{ client.CIN_C }}</option>
                {% endfor %}
            </select>

        </div>

        <div class="form-group">
            <label for= "email">Porduits Selectionnées : </label>
            <select id="product_list" name="product_list" required>
                <option value="">Sélectionnez un produit</option>
                <!-- Boucle sur les produits pour créer les options -->
                {% for product in product_list %}
                  <option value="{{ product.Libelle }}">{{ product.Libelle }}</option>
                {% endfor %}
              </select>
            
        </div>

       

        <br />
  <button type="submit" class="btn btn-primary">Enregistrer</button>

    </form>
{% endblock %}