{% extends "base.html" %}
{% block title %}Clients{% endblock %}

{% block style %}
<style>
  .menu-container {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-button{
 margin-left: 30px;
}
</style>
{% endblock %}

{% block content %}
<div class="container">
  <h1>Clients</h1>
  <table class="table">
    <thead>
      <tr>
        <th>CIN</th>
        <th>Nom</th>
        <th>email</th>
        <th>adresse</th>
        <th>tel</th>
      </tr>
    </thead>
    <tbody>
      {% for client in Clients %}
      <tr>
        <td>{{ client[0] }}</td>
        <td>{{ client[1] }}</td>
        <td>{{ client[2] }}</td>
        <td>{{ client[3] }}</td>
        <td>{{ client[4] }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<div class="menu-container">
    <button class="menu-button">Create</button>
    <button class="menu-button">Modify</button>
    <button class="menu-button">Delelte</button>
</div>

{% endblock %}
