{%extends "base.html"%} {%block title%} Menu EMP_APPS{%endblock%}
{%block style%}
<style>
  .menu-container {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-button{
 margin-left: 30px;
}
</style>
{%endblock%}
{%block content%}
<div class="container">
  <h1 class="text-center">Bonjour,  {{Fname}}{{Lname}}</h1>
  <div class="menu-container">
    <button class="menu-button" onclick="redirectproduct()">Products</button>
    <button class="menu-button" onclick="redirecsupplier()">Suppliers</button>
    <button class="menu-button" onclick="redirectshipment()">Shipments</button>
  </div>
</div>
<script>
  function redirectproduct(){
    window.location.href="/product"
  }
  function redirectsupplier(){
    window.location.href="/supplier"
  }
  function redirectshipment(){
    window.location.href="/shipment"
  }
</script>


{%endblock%}