{% extends "base.html" %}
{% block title %}Menu ADMIN{% endblock %}

{% block content %}
<nav>
  <button onclick="redirectmenu()">HOME</button>
</nav>
<script>
  function redirectmenu() {
    window.location.href = "/menu_1";
  }
</script>
<div class="container-button">
  <link rel="stylesheet" href="{{ url_for('static', filename='button.css') }}">
  <h1 class="text-center">Bonjour, {{ Fname }} {{ Lname }}</h1>
  <div class="menu-container">
    <button class="menu-button" onclick="redirectuser()">Users</button>
    <button class="menu-button" onclick="redirectproduct()">Products</button>
    <button class="menu-button" onclick="redirectsupplier()">Suppliers</button>
    <button class="menu-button" onclick="redirectclient()">Clients</button>
    <button class="menu-button" onclick="redirectshipment()">Shipments</button>
    <button class="menu-button" onclick="redirectsale()">Sales</button>
  </div>
</div>
<script>
  function redirectuser() {
    window.location.href = "/user";
  }
  function redirectproduct() {
    window.location.href = "/product";
  }
  function redirectsupplier() {
    window.location.href = "/supplier";
  }
  function redirectclient() {
    window.location.href = "/client";
  }
  function redirectshipment() {
    window.location.href = "/shipment";
  }
  function redirectsale() {
    window.location.href = "/sale";
  }
</script>
{% endblock %}
