{%extends "base.html"%} {%block title%} Menu EMP_APPS{%endblock%}
{%block style%}
{%endblock%}
{%block content%}
<nav>
  <button onclick="redirectmenu()" class="menu-button">HOME</button>
</nav>
<script>
  function redirectmenu() {
    window.location.href = "/menu_3";
  }
</script>
<div class="container-button">
  <link rel="stylesheet" href="{{ url_for('static', filename='button.css') }}">
    <h1 class="text-center">Welcome dear, Supply employee</h1>
  <div class="menu-container">
    <button class="menu-button" onclick="redirectproduct()">Products</button>
    <button class="menu-button" onclick="redirectsupplier()">Suppliers</button>
    <button class="menu-button" onclick="redirectshipment()">Shipments</button>
  </div>
</div>
<script>
  function redirectproduct(){
    window.location.href="/product"
  }
  function redirectsupplier(){
    window.location.href="/supplier"
  }
  function redirectshipment(){
    window.location.href="/shipment"
  }
</script>


{%endblock%}