{%extends "base.html"%} {%block title%} Menu EMP_APPS{%endblock%}
{%block style%}
<style>
  .menu-container {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-button{
 margin-left: 30px;
}
</style>
{%endblock%}
{%block content%}
<div class="container">
  <h1 class="text-center">Bonjour,  {{Fname}}{{Lname}}</h1>
  <div class="menu-container">
    <button class="menu-button">Bouton 1</button>
    <button class="menu-button">Bouton 2</button>
    <button class="menu-button">Bouton 3</button>
    
  </div>
</div>


{%endblock%}