{% extends "base.html" %}
{% block title %}Menu ADMIN{% endblock %}

{% block content %}
<nav>
  <button onclick="redirectmenu()" class="menu-button">HOME</button>
</nav>
<div class="container-button">
  <link rel="stylesheet" href="{{ url_for('static', filename='button.css') }}">
  <h1 class="text-center">Welcome Admin</h1>
  <div class="menu-container">
    <button class="menu-button" onclick="redirectuser()">
      <i class="fa fa-user"></i> Users
    </button>
    <button class="menu-button" onclick="redirectproduct()">
      <i class="fa fa-cube"></i> Products
    </button>
    <button class="menu-button" onclick="redirectsupplier()">
      <i class="fa fa-truck"></i> Suppliers
    </button>
    <button class="menu-button" onclick="redirectclient()">
      <i class="fa fa-users"></i> Clients
    </button>
    <button class="menu-button" onclick="redirectshipment()">
      <i class="fa fa-ship"></i> Shipments
    </button>
    <button class="menu-button" onclick="redirectsale()">
      <i class="fa fa-money"></i> Sales
    </button>
  </div>
</div>
<script>
  function redirectuser() {
    window.location.href = "/user";
  }
  function redirectmenu() {
    window.location.href = "/menu_1";
  }
  function redirectproduct() {
    window.location.href = "/product";
  }
  function redirectsupplier() {
    window.location.href = "/supplier";
  }
  function redirectclient() {
    window.location.href = "/client";
  }
  function redirectshipment() {
    window.location.href = "/shipment";
  }
  function redirectsale() {
    window.location.href = "/sale";
  }
</script>
{% endblock %}
