{%extends "base.html"%} {%block title%} Menu EMP_VENTES{%endblock%}
{%block style%}
{%endblock%}
{%block content%}
<nav>
  <button onclick="redirectmenu()" class="menu-button">HOME</button>
</nav>
<script>
  function redirectmenu() {
    window.location.href = "/menu_2";
  }
</script>
<div class="container-button">
  <link rel="stylesheet" href="{{ url_for('static', filename='button.css') }}">
  <h1 class="text-center">Welcome dear Saler</h1>
  <div class="menu-container">
    <button class="menu-button" onclick="redirectproduct()"> Produits</button>
    <button class="menu-button" onclick="redirectclient()"> Clients</button>
    <button class="menu-button" onclick="redirectsale()">Sales</button>
    
  </div>
</div>
<script>
  function redirectproduct(){
    window.location.href="/product"
  }
  function redirectclient(){
    window.location.href="/client"
  }
  function redirectsale(){
    window.location.href="/sale"
  }
</script>


{%endblock%}