{% extends "base.html" %}
{% block title %}Products{% endblock %}


{% block content %}
<div class="container-button">
  <link rel="stylesheet" href="{{ url_for('static', filename='button.css') }}">
<div class="container">
  <h1>Products</h1>
  <table class="table">
    <thead>
      <tr>
        <th>Code</th>
        <th>Libelle</th>
        <th>QTE</th>
        <th>PU_A</th>
        <th>PU_V</th>
      </tr>
    </thead>
    <tbody>
      {% for product in products %}
      <tr>
        <td>{{ product[0] }}</td>
        <td>{{ product[1] }}</td>
        <td>{{ product[2] }}</td>
        <td>{{ product[3] }}</td>
        <td>{{ product[4] }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<div class="menu-container">
    <button class="menu-button" onclick= "redirectproduct()">Create</button>
    <button class="menu-button" onclick="redirectdelete_p()">Delete</button>
</div>
</div>
<script>
  function redirectproduct(){
    window.location.href = "/add_product"
  }
  function redirectdelete_p(){
    window.location.href="/delete_P"
  }
</script>
{% endblock %}
