{% extends "base.html" %}
{% block title %}Shipments{% endblock %}



{% block content %}
<div class="container-button">
  <link rel="stylesheet" href="{{ url_for('static', filename='button.css') }}">
<div class="container">
  <h1>Shipments</h1>
  <table class="table">
    <thead>
      <tr>
        <th>id</th>
        <th>date</th>
        <th>Montant</th>
        <th>Supplier_id</th>
        <th>Code produit</th>
        <th>QTE APP</th>
      </tr>
    </thead>
    <tbody>
      {% for shipment in Shipments %}
      <tr>
        <td>{{ shipment[0] }}</td>
        <td>{{ shipment[1] }}</td>
        <td>{{ shipment[2] }}</td>
        <td>{{ shipment[3] }}</td>
        <td>{{ shipment[4] }}</td>
        <td>{{ shipment[5] }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<div class="menu-container">
    <button class="menu-button" onclick="addshipment()">Create</button>
    <button class="menu-button" onclick="delete_sh()">Delete</button>
</div>
</div>
<script>
    function addshipment(){
        window.location.href='/add_app'
    }
    function delete_sh(){
      window.location.href="/delete_Sh"
    }
</script>
{% endblock %}
